{% include "templates/header.jinja2" %}

<!-- body: designed by TM -->
<div id="content" dir="ltr" lang="en">
  <span class="anchor"></span>
  <span class="anchor"></span>
  <span class="anchor"></span>

<!-- title -->
  <h2>Front Page</h2>
<!-- title -->

  <span class="anchor"></span>
  <span class="anchor"></span>
  <span class="anchor"></span>

  <a href="https://takashi-matsushita.github.io/jekyll/">link to work in progress page...</a>

</div>
<!-- body: end -->

{% include "templates/footer.jinja2" %}
