{% include "templates/header.jinja2" %}

<!-- body: designed by TM -->
<div id="content" dir="ltr" lang="en">
  <span class="anchor"></span>
  <span class="anchor"></span>
  <span class="anchor"></span>

<!-- title -->
  <h2>Links</h2>
<!-- title -->

  <h6>News / ニュース</h6>
  <ul>
    <li>Japan / ニュース</li>
    <ul>
      {% for item in link.news_jp %}
      <li> <a href="{{item.href}}">{{item.text}}</a></li>
      {% endfor %}
    </ul>

    <li>World / 世界</li>
    <ul>
      {% for item in link.news_en %}
      <li> <a href="{{item.href}}">{{item.text}}</a></li>
      {% endfor %}
    </ul>
  </ul>


  <span class="anchor"></span>
  <span class="anchor"></span>
  <span class="anchor"></span>

</div>
<!-- body: end -->

{% include "templates/footer.jinja2" %}
