{#
 # @author: Takashi MATSUSHITA
 #}
{% block footer scoped %}
<!-- footer: designed by TM -->

<div id="pagebottom"></div>
<p id="pageinfo" class="info" dir="ltr" lang="en">
  last update {{info.date}} by {{info.author}}
</p>
<div id="pagebottom"></div>

</div>
</body>
<!-- body: end -->

</html>
{% endblock footer %}
{# eof #}
