{#
 # @author: Takashi MATSUSHITA
 #}
{% block header scoped %}
<!-- header: designed by TM -->
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45695282-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-45695282-2');
  </script>
  <meta name="google-site-verification" content="bIt2FgAYXlek8MF4YqmZBdxQiIobdlQN6xYIn6K1Qkw" />

  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>FrontPage - TM</title>
  <script type="text/javascript" src="{{info.base}}/js/common.js"></script>

  <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="{{info.base}}/css/common.css">
  <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="{{info.base}}/css/screen.css">
  <link rel="Start" href="{{info.base}}/index.html">
  <link rel="apple-touch-icon" sizes="180x180" href="{{info.base}}/logo/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{info.base}}/logo/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{info.base}}/logo/favicon-16x16.png">
  <link rel="manifest" href="{{info.base}}/logo/site.webmanifest">
  <link rel="mask-icon" href="{{info.base}}/logo/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<!-- body: begin -->
<body dir="ltr" lang="en">

<!-- logo: begin -->
<div id="header">
  <div id="logo">
    <img src="{{info.base}}/logo/bellflower.png" style="vertical-align:middle" height="60">
    TM Web
    <img src="{{info.base}}/logo/tea-ceremony.png" style="vertical-align:middle;float:right" height="55">
  </div>
</div>
<!-- logo: end -->


<!-- navigation: begin -->
<div id="sidebar">
  <div class="sidepanel">
    <h1>Navigation</h1>

    <ul id="navibar">
    {% for item in loop.navi %}
      <li class="wikilink">
        <a href="{{item.href}}">{{item.text}}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
<!-- navigation: end -->

{% endblock header %}
{# eof #}
